header {
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3A86FF;
    color: white;
}

.icon-flex {
    display: flex;
    align-items: center;
}

.icon-flex p {
    font-size: 18px;
}

.app-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.username-flex {
    display: flex;
    align-items: center;
}

.username-flex p {
    font-size: 18px;
    margin-right: 05px;
}