nav {
    display: flex;
    margin-bottom: 10px;
}

nav div {
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    line-height: 40px;
    cursor: pointer;
}

input {
    height: 30px;
    width: 75%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    font-size: 16px;
    outline: none;
}

button {
    height: 30px;
    width: 15%;
    box-sizing: border-box;
    margin-left: 3px;
    border-radius: 5px;
    border: none;
    background: #5FAD56;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

button:hover {
    background: #54974C;
}

button:active {
    background: #5FAD56;
}

.task-dashboard {
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    padding-top: 65px;
}

.active-page {
    border-bottom: 2px solid #3A86FF;
    box-shadow: 0 2px 2px -1px gray;
}

.inactive-page {
    border-bottom: 2px solid #EEEEEE;
}

.todo-container {
    max-height: calc(100vh - 145px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.todo-container::-webkit-scrollbar {
    display: none;
}

.clear-tasks {
    height: 50px;
    line-height: 50px;
    display: block;
}

@media(min-width: 550px){
    nav {
        width: 90%;
        margin: 20px auto;
    }

    nav div {
        font-size: 20px;
    }

    button, input {
        height: 40px;
        font-size: 20px;
    }

    .task-dashboard {
        max-width: 1200px;
        overflow: hidden;
        margin: 0 auto;
    }
}