.task-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-display.light::after {
    content: '';
    width: 100%;
    margin-top: 10px;
    border: 1px solid #EEEEEE;
}

.task-display.dark::after {
    content: '';
    height: 0px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #525252;
}

.delete-icon {
    display: none;
    cursor: pointer;
}

.task-progress {
    width: 90%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.progress-option {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    font-weight: 500;
    cursor: pointer;
}

#in-progress {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.active-not-started {
    background: #3A86FF;
    color: white;
}

.active-in-progress {
    background: #F9A03F;
    color: white;
}

.active-complete {
    background: #5FAD56;
    color: white;
}

@media(min-width: 550px){
    .task-display {
        height: 75px;
        flex-direction: row;
        justify-content: space-around;
    }

    .task {
        width: 25%;
        font-size: 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .task p {
        margin-right: 10px;
        max-width: 90%;
    }

    .task:hover .delete-icon {
        display: initial;
    }

    .task-progress {
        height: 40px;
        width: 55%;
    }

    .progress-option {
        height: 40px;
        line-height: 40px;
    }

    .progress-option.not-active:hover {
        background: #ECECEC;
    }

    .task-display.task-display.light::after, .task-display.dark::after {
        display: none;
    }
}