.task-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-display.light::after {
    content: '';
    width: 100%;
    margin-top: 10px;
    border: 1px solid #EEEEEE;
}

.task-display.dark::after {
    content: '';
    height: 0px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #525252;
}

.task-progress {
    width: 90%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progress-option {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    line-height: 30px;
    font-weight: 500;
}

#in-progress {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.active-not-started {
    background: #3A86FF;
    color: white;
}

.active-in-progress {
    background: #F9A03F;
    color: white;
}

.active-complete {
    background: #5FAD56;
    color: white;
}